{% extends 'microapp/introbase.html' %}
{% load static %}

{% block tittle%}
<title>Services</title>
{% endblock %}


{% block body %}

<div class="container-fluid p-5">
    <hr class="w-50">
    <h1 class="display-3 font-weight-bold text-center"> Our Services</h1>
    <hr class="w-50">

</div>

<div class="container-fluid ">

    <div class="row">

        <div class="col-md-4 col-sm-4 col-12 ">
            <div class="card col-md-11 mt-2">
                <div class="card-body text-center">
                    <img class="img-fluid " src="{% static 'images/html.png' %}" alt="html image">
                    <h3 class="card-tittle">HTML 5</h3>
                    <p class="card-text">We provide services for HTML 5 </p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-4 col-12 ">
            <div class="card col-md-11 mt-2">
                <div class="card-body text-center">
                    <img class="img-fluid " src="{% static 'images/css1.png' %}" alt="css image">
                    <h3 class="card-tittle">CSS</h3>
                    <p class="card-text">We provide services for CSS </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-12 ">
            <div class="card col-md-11 mt-2">
                <div class="card-body text-center">
                    <img class="img-fluid " src="{% static 'images/javascript.png' %}" alt="javascript">
                    <h3 class="card-tittle">Java Script</h3>
                    <p class="card-text">We provide services for Java Script </p>
                </div>
            </div>
        </div>


        <div class="col-md-4 col-sm-4 col-12 ">
            <div class="card col-md-11 mt-2">
                <div class="card-body text-center">
                    <img class="img-fluid " src="{% static 'images/bootstrap.jpg' %}" alt="Bootsrap Image">
                    <h3 class="card-tittle">Bootstrap </h3>
                    <p class="card-text">We provide services for Bootsrap </p>
                </div>
            </div>
        </div>


        <div class="col-md-4 col-sm-4 col-12 ">
            <div class="card col-md-11 mt-2">
                <div class="card-body text-center">
                    <img class="img-fluid " src="{% static 'images/angular.png' %}" alt="Angular Image">
                    <h3 class="card-tittle">Angular 8.0</h3>
                    <p class="card-text">We provide services for Angular </p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-4 col-12 ">
            <div class="card col-md-11 mt-2">
                <div class="card-body text-center">
                    <img class="img-fluid " src="{% static 'images/react.png' %}" alt="React Image">
                    <h3 class="card-tittle">React</h3>
                    <p class="card-text">We provide services for React </p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-4 col-12 ">
            <div class="card col-md-11 mt-2">
                <div class="card-body text-center">
                    <img class="img-fluid " src="{% static 'images/nodejs1.png' %}" alt="Node JS Image">
                    <h3 class="card-tittle">Node JS</h3>
                    <p class="card-text">We provide services for Node JS </p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-4 col-12 ">
            <div class="card col-md-11 mt-2">
                <div class="card-body text-center">
                    <img class="img-fluid " src="{% static 'images/python.jpg' %}" alt="Python Image">
                    <h3 class="card-tittle">Python</h3>
                    <p class="card-text">We provide services for Python </p>
                </div>
            </div>
        </div>


        <div class="col-md-4 col-sm-4 col-12 ">
            <div class="card col-md-11 mt-2">
                <div class="card-body text-center">
                    <img class="img-fluid " src="{% static 'images/django.jpg' %}" alt="Django Image">
                    <h3 class="card-tittle">Django</h3>
                    <p class="card-text">We provide services for Djanggo </p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-4 col-12 ">
            <div class="card col-md-11 mt-2">
                <div class="card-body text-center">
                    <img class="img-fluid " src="{% static 'images/contentw.jpg' %}" alt="content writing Image">
                    <h3 class="card-tittle">Content Writing</h3>
                    <p class="card-text">We provide services as a Content Writor </p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-4 col-12 ">
            <div class="card col-md-11 mt-2">
                <div class="card-body text-center">
                    <img class="img-fluid " src="{% static 'images/computerop.png' %}" alt="computer operator Image">
                    <h3 class="card-tittle">Computer Operator</h3>
                    <p class="card-text">We provide services as a Computer Operator</p>
                </div>
            </div>
        </div>


        <div class="col-md-4 col-sm-4 col-12 ">
            <div class="card col-md-11 mt-2">
                <div class="card-body text-center">
                    <img class="img-fluid " src="{% static 'images/elpro.jpg' %}" alt="electronics project Image">
                    <h3 class="card-tittle">Electronics Projects </h3>
                    <p class="card-text">We provide services for Electronics Project </p>
                </div>
            </div>
        </div>


    </div>
</div>

{% endblock %}