{% extends "controlapp/controlbase.html" %}
{% load static %}


{% block title %}
<title>control_page1</title>
{% endblock %}


{% block body %}


<div class="col-md-8 px-4 py-3 mx-0 mt-3 bg-light col-12 col-sm-12">


    {% if text.exists %}
    {% for temp in text %}
    <h3>{{ temp.msg1}}</h3>
    <p>{{ temp.msg2}}</P>
    <h3>{{ temp.msg3}}</h3>
    <p>{{ temp.msg4}}</p>
    {%endfor %}
    {% else %}
    <h1>Invalid request Please enter valid id </h1>


    {% endif %}
</div>

{% endblock %}