{% extends "edcapp/edcbase.html" %}
{% load static %}


{% block title %}
<title>EDC_Page1</title>
{% endblock %}

{% block body %}

<div class="col-md-8 px-4 py-3 mx-0 mt-3 bg-light col-12 col-sm-12">

    {% if text.exists %}
    {% for temp in text %}
    <h1>{{ temp.main_heading }}</h1><br>

    <h4>{{ temp.heading1}}</h4>
    <p>{{ temp.para1}}</p>
    <ul class="ml-3">
        <li>Materials that have very low electrical resistivity
            (in the order of 1 x 10-6 ohm-metres) are classed as conductors.
        </li>

        <li>Materials that have very high electrical resistivity
            (in the order of 1 x 1013 ohm-metres) are classed as insulators.
        </li>

        <li>Semiconductors have resistivity values in between those of conductors
            and insulators, they are neither good conductors nor good insulators.
        </li>

    </ul>

    <h4>{{ temp.heading2}}</h4>
    <p>{{ temp.para2}}</P>

    <h4>{{ temp.heading3}}</h4>
    <p>{{ temp.para3}}</p>

    <h4>{{ temp.heading4}}</h4>
    <p>{{ temp.para4}}</p>
    <hr>

    <ul class="ml-3">
        <li>An atom with one electron in it's outer shell is called a group one element.</li>

        <li>An atom with two electrons in it's outer shell is called a group two element.</li>

        <li>An atom with three electrons in it's outer shell is called a group three element.</li>

    </ul>

    <h4>{{ temp.heading5}}</h4>
    <p>{{ temp.para5}}</p>
    <div><img style="margin-left:5%" src="{% static 'images/registerset.jpg'%}" height="auto" width="90%"></div>
    <ul class="ml-3">
        <li>The silicon atoms form a square lattice.</li>
        <li>Each silicon nucleus has four electrons in its outer shell.</li>
        <li>These electrons are paired with the corresponding electrons in adjacent atoms.</li>
        <li>These are called covalent bonds. Covalent bonds are what binds the material together.</li>
        <li>The net result is that each nuclei (along with the electrons in the inner shells) are surrounded
            by eight outer electrons tightly bound in the atomic structure.
        </li>

    </ul>
    <h4>{{ temp.heading6}}</h4>
    <p>{{ temp.para6}}</p>

    <h4>{{ temp.heading7}}</h4>
    <p>{{ temp.para7}}</p>
    <div><img style="margin-left:5%" src="{% static 'images/registerset.jpg'%}" height="auto" width="90%"></div>

    <h4>{{ temp.heading8}}</h4>
    <p>{{ temp.para8}}</p>
    <div><img style="margin-left:5%" src="{% static 'images/registerset.jpg'%}" height="auto" width="90%"></div>

    <h4>{{ temp.heading9}}</h4>
    <p>{{ temp.para9}}</p>
    <div><img style="margin-left:5%" src="{% static 'images/registerset.jpg'%}" height="auto" width="90%"></div>


    <h4>{{ temp.heading10}}</h4>
    <p>{{ temp.para10}}</p>

    <h4>{{ temp.heading11}}</h4>
    <p>{{ temp.para11}}</p>

    <h4>{{ temp.heading12}}</h4>
    <p>{{ temp.para12}}</p>

    <h4>{{ temp.heading13}}</h4>
    <p>{{ temp.para13}}</p>

    <h4>{{ temp.heading14}}</h4>
    <p>{{ temp.para14}}</p>
    {%endfor %}
    {% else %}
    <h1>Invalid request Please enter valid id </h1>
    {% endif %}
</div>

{% endblock %}

